*{
margin: 0;
padding: 0;
font-family: "poppins",sans-serif;
box-sizing: border-box;
font-size: 20px;
}
.container{
  width: 100%;
  height: 100vh;
  background: #19191B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background: linear-gradient(#4B128F,#0B5D56 );
  padding: 20px;
  border-radius: 10px;
}
input value{
  background-color: yellowgreen;
}
.calculator form input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: -8px -8px 2px 2px rgba(138, 118, 118, 0.0), 5px 5px 15px rgba(0, 0, 50,1.1);
  background: transparent;
  color: #fff;
  margin: 4px;
  cursor: pointer;
}
.calculator form input:hover{
  background: linear-gradient(purple, blue,red);
}
.calculator form input:active{
  color: #6A24B3;
  background: #970C55;
}
.display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  border-radius: 20px;
}
.display input{
  text-align: right;
  font-size: 25px;
  flex: 463;
  box-shadow: none;
}
form input.equal{
  width: 130px;
}
form input.operator{
 background: linear-gradient(#44171E,#1C2895);
}
form input value{
  color: red;
}
#operator{
  color: #8C2EB7;
  font-size: 20px;
}
.operator:active{
 color: #9622C9; 
}
